<!DOCTYPE html>
<html>
<head>
	<title>CunyLast | <%=`${user.firstName}`%>'s Account</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript">
		$( document ).ready(function()
		{
			$(".unenroll").click(function()
			{
				var classId = $(this).attr('data-id');
				var classCode = $(this).attr('data-code');
				$.ajax(
				{
				    url: '/unenroll',
				    type: 'DELETE',
					data: {userId: '<%= user.id %>', courseId: classId},
				    success: function(result) {
				       alert(result);
					   location.reload(true);
				    }
				});
			});
		});

		function download(data, filename, type)
		{
			var file = new Blob([data], {type: type});
			if (window.navigator.msSaveOrOpenBlob) // IE10+
			window.navigator.msSaveOrOpenBlob(file, filename);
			else
			{ // Others
				var a = document.createElement("a"),
				url = URL.createObjectURL(file);
				a.href = url;
				a.download = filename;
				document.body.appendChild(a);
				a.click();
				setTimeout(function()
				{
					document.body.removeChild(a);
					window.URL.revokeObjectURL(url);
				}, 0);
			}
		}

		function pastebin()
		{
			var settings = {
			  "async": true,
			  "crossDomain": true,
			  "url": "https://pastebin.com/api/api_post.php",
			  "method": "POST",
			  "headers": {
			    "content-type": "application/x-www-form-urlencoded",
			    "cache-control": "no-cache",
			    "postman-token": "98ee34d7-492a-cf7f-6417-c87647bbb37c"
			  },
			  "data": {
					  		"api_dev_key":"905ce7e15e2f8f3ac1cb79c05e00d00f",
				   			"api_option":"paste",
							"api_paste_code":coursesToString,
							"api_paste_name":"My CunyLast Schedule",
							"api_paste_private":"2"
						}
			}

			$.ajax(settings).done(function (response)
			{
				var win = window.open(response, '_blank');
				  if (win)
				  {
				      win.focus();
				  }
			});
		}

		function coursesToString()
		{
			var courses = <%- JSON.stringify(courses) %>;
			var string = "";

			for (var i = 0; i < courses.length; i++)
			{
				string += courses[i].code + "\n";
				string += courses[i].name + "\n";
				string += courses[i].time + "\n";
				string += "------------------------------------------------------------\n";
			}
			return string;
		}
	</script>
</head>
<body>
	<%- include('partials/header', {user})%>
	<div class="container card">
		<h1><%= `${user.firstName} ${user.lastName}` %></h1>
		<% if(courses.length > 0) {%>
			<% for (var i = 0; i < courses.length; i++) {%>
				<div class="course card">
					<h3 class="card-header"><%= courses[i].code %> <small><%= courses[i].name %></small></h3>
					<p class="card-body">
						<strong>Course Description</strong><br>
						<%= courses[i].description %>
					</p>
					<p class="card-body">
						<strong>Course Times</strong><br>
						<%= courses[i].time %>
					</p>
					<div class="card-footer">
						<button class="unenroll btn btn-danger" data-id="<%= courses[i].id %>" data-code="<%=courses[i].code%>">Unenroll</button>
					</div>
				</div>
			<%} %>
		<%} else {%>
			<div class="course card">
				<h3 class="card-header">Not enrolled in any classes</h3>
			</div>
		<%}%>
		<div class="card btn-group-justified" role="group" style="width: 25%; margin: 0 auto">
			<button style="margin: 10px" class="btn btn-success" onclick="download(coursesToString(), 'Schedule.txt', 'txt')">Save Schedule</button>
			<button style="margin: 10px" class="btn btn-primary" onclick="pastebin()">Upload to Pastebin</button>
		</div>
	</div>
</body>
</html>
