<!DOCTYPE html>
<html>
<head>
	<title>CunyLast | Course Catalog</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript">
		$( document ).ready(function()
		{
			$(".enroll").click(function()
			{
				var classId = $(this).attr('data-id');
				var classCode = $(this).attr('data-code');
				$.post("/enroll", {userId: '<%= user.id %>', courseId: classId}, function(res)
				{
					alert(res);
				});
			});
		});
	</script>
</head>
<body>
	<%- include('partials/header')%>
	<div class="container card">
		<h1>Courses</h1>
		<% for (var i = 0; i < courses.length; i++) {%>
			<div class="course card">
				<h3 class="card-header"><%= courses[i].code %> <small><%= courses[i].name %></small></h3>
				<p class="card-body">
					<strong>Course Description</strong><br>
					<%= courses[i].description %>
				</p>
				<p class="card-body">
					<strong>Course Times</strong><br>
					<%= courses[i].time %>
				</p>
				<div class="card-footer">
					<button class="enroll btn btn-primary" data-id="<%= courses[i].id %>" data-code="<%=courses[i].code%>">Enroll</button>
					<button class="btn">More Info</button>
				</div>
			</div>
		<%} %>
	</div>
</body>
</html>
